type fpc1020_device, dev_type;
type sysfs_capture_mode, fs_type,sysfs_type;
type sysfs_capture_count, fs_type,sysfs_type;
type sysfs_capture_settings_mux, fs_type,sysfs_type;
type sysfs_adc_gain, fs_type,sysfs_type;
type sysfs_adc_shift, fs_type,sysfs_type;
type sysfs_capture_col_groups, fs_type,sysfs_type;
type sysfs_capture_col_start, fs_type,sysfs_type;
type sysfs_capture_row_count, fs_type,sysfs_type;
type sysfs_capture_row_start, fs_type,sysfs_type;
type sysfs_pxl_ctrl, fs_type,sysfs_type;
type fingerprints_service,  service_manager_type;
allow system_app fpc1020_device:chr_file { open read write };
allow system_app sysfs_capture_mode:file { open read write getattr };
allow system_app sysfs_capture_count:file { open read write getattr };
allow system_app sysfs_capture_settings_mux:file { open read write getattr };
allow system_app sysfs_adc_gain:file { open read write getattr };
allow system_app sysfs_adc_shift:file { open read write getattr };
allow system_app sysfs_capture_col_groups:file { open read write getattr };
allow system_app sysfs_capture_col_start:file { open read write getattr };
allow system_app sysfs_capture_row_count:file { open read write getattr };
allow system_app sysfs_capture_row_start:file { open read write getattr };
allow system_app sysfs_pxl_ctrl:file { open read write getattr };
allow system_app fingerprints_service:service_manager add;
